/**
 * Front end CSS Styling
 *
 * @package Premise Tabs
 */

.premise-tabs {
	position: relative;
	min-height: 200px; /* Dinamically set, see JS */
	list-style: none;
	margin: 22px 0;
}

.premise-tab {
	float: left;
	margin: 0;
}

.premise-tab-label {
	background: #32373C;
	color: #fff;
	/*display: block;*/ /* deactivate for block tabs */
	padding: 20px;
	/*border: 1px solid #ccc;*/
	position: relative;
	left: 0;
	top: 0;
	cursor: pointer;
	text-align: center;
}

.premise-tab .premise-tab-radio {
	display: none;
}

.premise-tab-content {
	/*position: absolute;
	top: 34px;
	left: 0;
	background: #fff;
	right: 0;
	bottom: 0;
	padding: 10px;
	border: 1px solid #ccc;
	overflow-y: scroll;*/
	display: block;
	width: 100%;
	position: absolute;
	top: 45px; /* Dinamically set, see JS */
	left: 0;
	padding: 20px;
	background: #fff;
	overflow: hidden;
	height: 0;
	opacity: 0;
}

.premise-tab-radio:checked ~ .premise-tab-label {
	background: #23282D;
}

/* Selected tab arrow */
.premise-tab-radio:checked ~ .premise-tab-arrow:after {
	position: absolute;
	bottom: 0;
	left: 47%;
	left: calc( 50% - 16px );
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 16px 16px 16px;
	border-color: transparent transparent #fff transparent;
}

.premise-tab-radio:checked ~ .premise-tab-content {
	overflow: visible;
	height: auto;
	opacity: 1;
}

/* Transitions */
.premise-tab-radio ~ .premise-tab-content.opacity > * {
	opacity: 0;
}

.premise-tab-radio:checked ~ .premise-tab-content.opacity > * {
	opacity: 1;
	transition: opacity 1s ease;
}

.premise-tab-radio ~ .premise-tab-content.translateX > * {
	transform: translateX(-100%);
}

.premise-tab-radio:checked ~ .premise-tab-content.translateX > * {
	transform: translateX(0);
	transition: transform 1s ease;
}


/* Responsive Tabs */
/* Below 768px: reduce tab size by 2 */
@media screen and (max-width:767px) {

}